/*variables*/
/*footer*/
footer {
  background-color: #EDAE28;
  height: 200px;
  width: 100%; }
  footer h4 {
    display: flex;
    justify-content: end;
    padding: 20px;
    color: white; }

/*cierre de footer*/
header {
  background-color: #EDAE28;
  width: 100%;
  height: 25%; }
  header h1 {
    font-size: 100px;
    border: 4px;
    border-bottom-right-radius: 4px green solid;
    color: aliceblue;
    font-family: vog; }
    header h1 img {
      border: 4px black solid; }

/*nav*/
nav {
  border-radius: 20px;
  height: 70px; }
  nav .navbar-brand {
    font-family: 'Anton', sans-serif;
    width: 90%;
    height: 80%;
    padding: 10px; }
  nav .nav-item {
    font-size: 20px;
    font-family: "consolas", monospace; }
  nav .icono {
    font-size: 10px; }
  nav .dropdown-item {
    font-size: 20px;
    font-family: "consolas", monospace;
    font-weight: bolder; }
  nav .nav-item:hover .icono-secundario {
    color: #EDAE28; }
  nav .navbar-toggler:hover {
    border: 4px solid;
    border-radius: 4px; }

/* cierre de nav*/
article {
  display: flex;
  position: relative;
  justify-content: space-evenly; }
  article .icono-medio {
    padding: 15px;
    font-size: 27px;
    border-radius: 15px; }
  article .icono-medio:hover {
    background: linear-gradient(90deg, #EDAE28, rgba(153, 51, 102, 0.627));
    mix-blend-mode: multiply; }

main {
  padding: 30px; }

.contenedor-img1 {
  display: flex;
  justify-content: center;
  width: 120vh; }

.imagen-main1 {
  display: flex;
  justify-content: center;
  width: auto;
  height: 100%; }

.contenedor-1 {
  border: 10px #EDAE28 solid;
  width: auto; }

.textoh3 {
  color: #EDAE28;
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Fascinate', cursive; }

.texto2 {
  color: black;
  font-size: 30px; }

.contenedor-main2 {
  padding: 30px; }

.contenedor-lista {
  border: 10px #EDAE28 solid; }

.tex3 {
  color: #EDAE28;
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Fascinate', cursive; }

.tex2 {
  color: black;
  font-size: 30px; }

.lista1 {
  list-style-type: none; }

.contenedor-datimenu {
  width: auto;
  height: 200px;
  border: 8px #EDAE28 solid; }

.texto-menu {
  font-size: 30px;
  font-weight: bolder;
  color: #EDAE28;
  font-family: 'Fascinate', cursive; }

.dati-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; }

.texto-menu1 {
  color: black;
  width: 20px; }

.boton-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 54px;
  background-color: #EDAE28;
  font-size: 30px; }

.contendor-imagen-menu {
  display: flex;
  justify-content: center;
  align-items: center; }

.texto-menu-imagen {
  display: flex;
  justify-content: center;
  align-items: center; }

.main-menu {
  display: flex;
  justify-items: center;
  align-items: center; }

form {
  width: 450px;
  margin: auto;
  background-color: #EDAE28;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 40px; }
  form .formulario-contacto {
    color: white;
    font-size: 40px;
    font-family: "Fascinate", cursive;
    margin-bottom: 10px; }
  form input, form textarea {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "consolas", monospace; }

main {
  border-radius: 17px; }
  main p {
    font-family: "consolas", monospace;
    font-size: 20px; }

@media (min-width: 768px) {
  main .contendor-imagen-menu {
    width: 100%;
    display: flex;
    justify-content: center; }
  main .imagen-menu {
    width: auto;
    border: 10px #EDAE28 solid;
    padding: 10px;
    margin: 10px; }
  main .texto-menu {
    font-size: 60px; }
  main .tex3 {
    font-size: 60px; }
  main .tex2 {
    font-size: 35px; }
  main .contendor-main1 {
    width: auto; }
    main .contendor-main1 .contenedor-img1 {
      width: 50%; }
    main .contendor-main1 .imagen-main1 {
      width: 100%; }
    main .contendor-main1 .contenedor-1 {
      width: 50%; }
    main .contendor-main1 .textoh3,
    main .contendor-main1 .texto2 {
      display: flex; }
    main .contendor-main1 .lista1 {
      font-size: 40px;
      padding: 10px;
      margin: 10px; }
    main .contendor-main1 .info-text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      background-color: #EDAE28;
      width: auto;
      height: 150px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center; }
