form{
    width: 450px;
    margin: auto;
    background-color:$fondo-color;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom:40px;

    .formulario-contacto {
        color: white;
        font-size: 40px;
        font-family: $fuente-titulos;
        margin-bottom:10px;
    }


input, textarea{
            width:100%;
            margin-bottom: 10px;
            font-size: 20px;
            font-family:$fuente-letra;
        }
    }
