/*footer*/
footer{
    background-color: #EDAE28;
    height: 200px;
    width: 100%;
  
    h4{
        display: flex;
        justify-content: end;
        padding:20px;
        color:white;
       
    }
}
/*cierre de footer*/