header{
    background-color: #EDAE28;
    width:100%;
    height: 25%;
    h1{
        font-size: 100px;
        border:4px;
        border-bottom-right-radius: 4px green solid;
        color: aliceblue;
        font-family: vog;
     
    img{
        border: 4px black solid;

   
}
}
}
