/*nav*/
nav{
    border-radius: 20px;
    height: 70px;
    
    
    .navbar-brand{
        font-family: 'Anton', sans-serif;
        width: 90%;
        height: 80%;
        padding: 10px;
    }
    
    .nav-item{
        font-size: 20px;
        font-family:$fuente-letra;
    }
    .icono{
        font-size: 10px;
    }
    .dropdown-item{
        font-size:20px;
        font-family:$fuente-letra;
        font-weight: bolder;
    }
    .nav-item:hover .icono-secundario{

        color:#EDAE28;
    }
    .navbar-toggler:hover{
        border: 4px solid;
        border-radius: 4px;
    }
}
/* cierre de nav*/
