@import "./variables";
@import "foooter";
@import "header";
@import "nav";
@import "article";
@import "main-index";
@import "menu";
@import "nosotros";
@import "contacto";
@import "./main-nosotros";
@import "media";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align: center;
}
